.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #c770f0;
  transition: width 0.3s;
}
.nav-link:hover::after,
.nav-link:focus::after {
  width: 100%;
}